@font-face {
    font-family: 'Keepsmile';
    src: url("keepsmile-cufonfonts/Keepsmile-1GY12.otf");
}

body {
    margin: 0;
    padding: 0;
    background-color: #bbd7f3;
    cursor: url('../images/cute-cinnamoroll-cursor.png') 6 6, auto;
    
}

header {
    justify-content: center
    ;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Keepsmile";
    color: #ffffff;
    -webkit-text-stroke: 0.2px #a1c3e4;
    
}

p {
    text-align: center;
    font-size: 25px;
    font-family: "keepsmile";
    color:#6b90b4
}

.navegacion {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #aaddff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    gap: 70px;
}

.navegacion a{
    align-items: center;
    font-family: "Keepsmile";
    font-size: 75px;
    color: #6b90b4;

}


.logoimg{
    max-width: 200px;
    
    
}

.logovacio {
    width:200px

}

section {
    margin-bottom: 20px;
    padding: 1.5rem;
    background: #a1c3e4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

main {
    max-width: 85%;
    margin: 20px auto;
    padding: 0 1rem;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}

.galeria-item {
    background: #fff;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    cursor: url('../images/cute-cinnamoroll-pointer.png') 6 6, pointer;
}

.galeria-item:hover {
    transform: scale(1.03);
}

.galeria-item img {
    width: 95%;
    height: 170px;
    object-fit: cover;
    border-radius: 4px;
}

.galeria-item img.regalo {
    width: 100%;
    object-fit: contain;
}

.galeria-item img.yomas {
    width: 100%;
    object-fit: contain;
}

.carrete {
    position:relative;
    bottom: 250px;
    left: -55px;
    max-width:130px;
    transform: rotate(-20deg);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

div a {
    text-decoration: none;
    cursor: url('../images/cute-cinnamoroll-pointer.png') 6 6, pointer;
} 